.orgimg {
    text-align: center; /* Center the content horizontally */
    margin-top: 40px; /* Adjust the top margin as needed */
}

.orgimg img {
    width: 500px; /* Set the width to your desired size */
    border-radius: 50px;
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure proper alignment */
    margin: 0 auto; /* Center the image horizontally */
    margin-bottom: 1rem; /* Add some spacing below the image */
}
.nameorg {
    text-align: center;
    margin-top: 50px; /* Add some spacing between the image and content */
}
.nameorg h1{
    margin-top: 100px;
}

.btn-warning {
    width: 150px;
    background-color: #FFC328; /* Yellow background color */
    border-color: #FFC328; /* Border color */
    color: white; /* Text color */
    border-radius: 10px; /* Rounded corners */
    font-weight: bold; /* Bold text */
    transition: background-color 0.3s, border-color 0.3s; /* Transition effects */
}

.btn-warning:hover {
    background-color: #FFA500; /* Darker yellow on hover */
    border-color: #FFA500; /* Darker border color on hover */
}
.custom-heading{
    font-weight: bold;
    font-size: 24px; /* Adjust the font size as needed */
}