<html>
    <head>
        <link rel="stylesheet" type="text/css" href="navbar2.css"></link>
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <script src="script.js" defer></script>
        <meta charset ="UTF -8">
        <meta http-equiv="X-UA-Compatible" content="IE = edge, chrome=1"/>
        <meta name="viewport" content ="width=device-width, initial-scale =1">
    </head>
    <body>
                <header>
                    <div class = "wrapper">
                        <a href="#"class="logo">ThomasianOrgLink</a>
                        <nav>
                            <a href="#">Home</a>
                            <a href="#">Organizations</a>
                            <a href="#">Apply</a>
                            <form>
                                <input type="search" placeholder="Search...">
                                <button type="submit">Search</button>
                            </form>
                            <div class="dropdown"> <!--<div class="profile" ></div>-->
                                <img src="iconprof.png" class="user-pic" onclick="myFunction()">
                                <div id="myDropdown" class="dropdown-content">
                                <h3> Hello User!</h3>
                                <a href="#h">Edit Profile</a>
                                  <a href="#">Log Out</a>
                                </div>
                            </div>
                           
                           
  
                            
                        </nav>

                    </div>
                </header>
            <script>
                function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
            }

            // Close the dropdown if the user clicks outside of it
            window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
                }
                }
            }

            </script>
           
    </body>
</html>